:root {
  --fontRoboto: "Roboto", sans-serif;
  --fontPoppins: "Poppins", sans-serif;
  --colorOrange: #e0752f;
  --colorGreyDark: #343434;
  --colorGrey: #5f6368;
  --colorGreyLigth: #bebebe;
  --colorWhite: #ffffff;
}

html {
  font-family: var(--fontRoboto);
  size: 16px;
}

a {
  color: var(--colorWhite);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--fontPoppins);
}

h1 {
  font-size: 48px;
}

#nav {
  width: 80%;
}
.container-fluid {
  padding: 0;
}

/*HEADER*/

.image-slide {
  height: 100vh;
}

#carousel {
  position: relative;
  z-index: -1;
}

#carousel .carousel-indicators {
  justify-content: left;
  margin-right: 0;
  margin-left: 10%;
  margin-bottom: 10%;
}

.carousel-indicators li {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: var(--colorOrange);
}

#carousel .carousel-caption {
  right: 0;
  left: 10%;
  top: 50%;
  bottom: auto;
  text-align: left;
  transform: translateY(-50%);
}

/*Contain carousel*/

.contain {
  width: 50%;
}
.contain p {
  margin: 30px 0;
  width: 80%;
}

#carousel .btn {
  background-color: var(--colorOrange);
  color: var(--colorWhite);
}

/*SESSION ONE*/

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 8px solid var(--colorOrange);
  text-align: center;
  height: 230px;
  box-shadow: -2px -5px 31px -7px var(--colorGreyLigth);
  padding: 22px 23px 0 23px;
  background-color: var(--colorWhite);
}

i {
  color: var(--colorOrange);
  font-size: 42px;
}

/*SESSION TWO*/
#session-two {
  border-left: 20px solid var(--colorOrange);
  margin-top: 10%;
}
span {
  color: var(--colorOrange);
  display: block;
}

/*SESSION THREE*/
#session-three {
  background-image: url(/image/background.svg);
  height: 600px;
}

#session-three .position-relative {
  margin: auto;
}

#carousel-text {
  background-color: var(--colorOrange);

  bottom: 0;
  right: 0;
  color: var(--colorWhite);
  height: 55%;
  width: 50%;
  padding: 40px;
}
#carousel-text h5 {
  font-size: 39px;
}
#carousel-text p {
  margin-bottom: 0;
}

/*SESSION FOUR*/

.size-image img {
  width: 100%;
}

/*SESSION FIVE*/
#session-five {
  background-image: url(/image/background.svg);
}
#session-five .btn {
  padding: 8px 45px;
  background-color: var(--colorOrange);
  color: var(--colorWhite);
}
.form-control {
  background-color: transparent;
}
.form-control:focus {
  color: var(--colorOrange);
  border-color: var(--colorOrange);
  box-shadow: 0 0 0.2rem rgb(255, 255, 255);
  background-color: transparent;
}

/*FOOTER*/

footer {
  background-color: var(--colorGreyDark);
  color: #dce1da;
}

/*Media Query*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #session-four #accordion {
    position: absolute;
    top: 50%;
    left: 10%;
    right: 40%;
    transform: translatey(-50%);
  }

  .size-image img {
    width: 50%;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #session-one {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
  }

  #session-two {
    margin: 28% 0 10% 0;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
