:root {
  --fontRoboto: "Roboto", sans-serif;
  --fontPoppins: "Poppins", sans-serif;
  --colorOrange: #e0752f;
  --colorGreyDark: #343434;
  --colorGrey: #5f6368;
  --colorGreyLigth: #bebebe;
  --colorWhite: #ffffff;
}

html {
  font-family: var(--fontRoboto);
  size: 16px;
  scroll-behavior: smooth;
}

a {
  color: var(--colorWhite);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--fontPoppins);
}

.container-fluid {
  padding: 0;
}

/*NAVEGATION*/

#navegation {
  background-color: transparent;
  transition: all 0.5s ease;
}

#navegation a:hover {
  color: var(--colorWhite);
}

#navbarToggler {
  background-color: var(--colorOrange);
}

#navegation .navbar {
  padding: 0;
}

#navegation .navbar-toggler {
  background-color: var(--colorWhite);
}

#navegation .nav-tabs {
  border-bottom: 1px solid transparent;
}

#navegation .nav-tabs .nav-link {
  border: none;
  padding: 21px;
}

#navegation .nav-tabs .nav-link:focus,
#navegation .nav-link:hover {
  border-bottom: 2px solid var(--colorWhite);
}

/*Class scroll js*/

#navegation.scroll {
  background-color: var(--colorOrange);
}
#navegation.scroll a:hover {
  border-bottom: 2px solid var(--colorWhite);
}

/*CAROUSEL IMAGE*/

#carousel-image {
  z-index: -1;
}

#carousel-image .carousel-indicators li {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: var(--colorOrange);
}

#carousel-image .carousel-caption {
  right: 0;
  left: 8%;
  top: 50%;
  bottom: auto;
  text-align: left;
  transform: translateY(-50%);
}

/*contain carousel-image*/

#carousel-image .contain {
  width: 70%;
}

#carousel-image img {
  height: 425px;
}
#carousel-image .contain h1 {
  font-size: 23px;
}

#carousel-image .contain p {
  margin: 30px 0;
  width: 80%;
}

#carousel-image .btn {
  background-color: var(--colorOrange);
  color: var(--colorWhite);
  margin-bottom: 15px;
}

/*SECTION ONE*/

#sec-one {
  margin-top: 30px;
}

#sec-one .box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 8px solid var(--colorOrange);
  text-align: center;
  height: 230px;
  box-shadow: -2px -5px 31px -7px var(--colorGreyLigth);
  padding: 22px 23px 0 23px;
  background-color: var(--colorWhite);
}

#sec-one .box i {
  color: var(--colorOrange);
  font-size: 42px;
}

/*SECTION TWO*/

#sec-two {
  padding-top: 70px;
  margin-bottom: 90px;
}

#sec-two .container {
  border-left: 20px solid var(--colorOrange);
  margin: 0;
}

span.block-orange {
  color: var(--colorOrange);
  display: block;
}

/*SECTION THREE*/
#sec-three {
  background-image: url(../images/background.svg);
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
}

#sec-three .position-relative {
  margin: auto;
}

#carousel-text {
  padding-bottom: 50px;
  background-color: var(--colorOrange);
  color: var(--colorWhite);

  padding: 50px 48px;
}

#carousel-text h5 {
  font-size: 30px;
}

#carousel-text p {
  margin-bottom: 0;
  margin-top: 15px;
}

#carousel-text .carousel-control-next,
#carousel-text .carousel-control-prev {
  top: unset;
  bottom: 15px;
  width: 30px;
  right: 20px;
}

#carousel-text .carousel-control-prev {
  right: 60px;
  left: unset;
}

#carousel-text .carousel-control-next-icon {
  background-image: url(../images/Icon\ feather-arrow-right-circle.svg);
}

#carousel-text .carousel-control-prev-icon {
  background-image: url(../images/Icon\ arrow-left-.svg);
}

/*SECTION FOUR*/

#sec-four.size-image img {
  width: 100%;
}

#sec-four .accordion button {
  display: flex;
  align-items: center;
}

#sec-four .accordion button .up-arrow,
#sec-four .accordion button .down-arrow {
  margin-left: auto;
}

#sec-four .accordion button .up-arrow {
  display: inline-block;
}

#sec-four .accordion button .down-arrow {
  display: none;
}

#sec-four .accordion button.collapsed .up-arrow {
  display: none;
}

#sec-four .accordion button.collapsed .down-arrow {
  display: inline-block;
}

/*SECTION FIVE*/
#sec-five {
  background-image: url(../image/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
#form-contact .btn {
  padding: 8px 45px;
  background-color: var(--colorOrange);
  color: var(--colorWhite);
}
#form-contact h2 {
  text-align: center;
}

#form-contact .form-control {
  background-color: transparent;
}

#form-contact .form-control:focus {
  color: var(--colorOrange);
  border-color: var(--colorOrange);
  box-shadow: 0 0 0.2rem rgb(255, 255, 255);
  background-color: transparent;
}

/*FOOTER*/

footer {
  background-color: var(--colorGreyDark);
  color: #dce1da;
}

/*MEDIA QUERY*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #nav {
    width: 100%;
  }

  #nav img {
    margin-right: auto;
  }

  #navbarToggler {
    height: 68px;
    justify-content: flex-end;
    background-color: transparent;
  }

  #navegation .nav-tabs {
    border-bottom: 1px solid var(--colorOrange);
  }

  #navegation .nav-tabs .nav-link:focus,
  #navegation .nav-link:hover {
    border-bottom: 2px solid var(--colorOrange);
  }
  #carousel-image .carousel-indicators {
    justify-content: left;
    margin-right: 0;
    margin-left: 10%;
    margin-bottom: 8%;
  }
  #carousel-image img {
    height: 100%;
  }

  #carousel-image .contain {
    width: 50%;
  }

  #carousel-image .contain h1 {
    font-size: 35px;
  }

  #sec-four #accordion {
    position: absolute;
    top: 50%;
    left: 10%;
    right: 40%;
    transform: translatey(-50%);
  }

  #sec-four.size-image img {
    width: 50%;
  }

  #form-contact h2 {
    text-align: left;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  main {
    position: relative;
    margin-top: 300px;
  }

  #sec-one {
    position: absolute;
    top: -330px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }

  #carousel-image .contain h1 {
    font-size: 49px;
  }

  #carousel-text {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 60%;
    width: 55%;
    padding: 26px 20px;
  }

  #carousel-text h5 {
    font-size: 39px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  #carousel-image .carousel-indicators {
    margin-bottom: 15%;
  }
  #sec-three {
    height: 800px;
  }
  #carousel-text {
    display: flex;
    align-items: center;
    padding: 10px 50px;
  }
}
